/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-width-lg: 70rem;
  --wrapper-width-md: 50rem;
}

body,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;

  background-color: #f4f4f5;
}

/* Header */

header {
  padding: 1.25rem 0;
  background-color: #fff;
}

.nav {
  max-width: 90%;
  width: var(--wrapper-width-lg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin: 0 .75rem;
}

.logout-btn {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Pages */

/* Form General Styling */
.form-title {
  margin-top: 1.5rem;
  text-align: center;
}

.form {
  width: 92.5%;
  max-width: 35rem;
  margin: 1rem auto 4rem auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group__label {
  margin-bottom: .25rem;
}

.form-group__input {
  padding: .5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group__textarea {
  line-height: 1.6;
}

.form__submit {
  padding: .6rem 1.25rem;
  cursor: pointer;
  border: 2px solid #222;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .08em;

  transition: 
    background-color 175ms ease-in-out,
    color 175ms ease-in-out;
}

.form__submit:hover,
.form__submit:focus {
  background-color: #222;
  color: #fff;
}

/* About */

.about {
  padding: 2rem 0;
}

.about__title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.about__img {
  max-width: 100%;
  width: 47rem;
  margin-bottom: 1rem;
}

.about__desc {
  max-width: 40rem;
}

/* Animal Main */

.main {
  max-width: var(--wrapper-width-lg);
  width: 92.5%;
  margin: 0 auto;
}

.main__title {
  margin: 2rem 0;
  font-weight: 400;
}

.animal-card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.animal-card {
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 10px 10px 0 0 #90CDF4;
}

.animal-card__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #90CDF4;
}

.animal-card__fig__img {
  width: 100%;
}

/* Animal Info Page */

.animal-info-page {
  margin: 4rem auto;
  max-width: 35rem;
  width: 92.5%;
}

.hero-container {
  position: relative;
  height: 60vh;
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  filter: brightness(.65);
}

.hero-caption {
  position: absolute;
  bottom: 10%;
  left: 20.75%;
  font-size: 2rem;
  color: #fff;
}

.hero-caption::after {
  position: absolute;
  content: "";
  width: 65%;
  height: 3px;
  bottom: -.75rem;
  left: 0;
  background-color: #68D391;
}

.animal-info-card {
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .2);
  border-radius: 4px;
  background-color: #fff;
}

.animal-info-card__para {
  margin-bottom: .75rem;
  font-weight: 700;
}

.animal-info-card__para span {
  margin-left: .5rem;
  font-weight: 400;
}

.animal-info-fact {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.animal-info-fact__title {
  margin-bottom: .5rem;
  color: hsl(205, 79%, 76%);
}

.animal-info-fact__para {
  margin-bottom: 0;
}

/* Delete Animal */

.delete-animal__title {
  margin: 1rem 0;
}

.delete-animal__btn {
  margin-bottom: 1.5rem;
}

/* Edit Animal */

.animal-edit-link {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: .6rem 1.25rem;
  cursor: pointer;
  border: 2px solid #222;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .08em;

  transition: 
    background-color 175ms ease-in-out,
    color 175ms ease-in-out;
}

.animal-edit-link:hover,
.animal-edit-link:focus {
  background-color: #222;
  color: #fff;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.35rem 0;
  color: #fff;
  background-color: #1A202C;
}

.footer__title {
  text-align: center;
  font-size: .95rem;
  font-weight: 400;
  opacity: .65;
  margin-bottom: .3rem;
}

.footer__cite {
  font-size: .9rem;
  font-weight: 400;
  opacity: .65;
}

.footer__cite__link {
  color: #90CDF4;
}

/* Media Queries */

@media screen and (max-width: 70rem) {
  .nav,
  .main {
    width: var(--wrapper-width-md);
  }
}

@media screen and (max-width: 50rem) {
  .nav,
  .main {
    width: 90%;
  }
}